spring:
  liquibase:
    enabled: true
    change-log: classpath:/db/migration/changelog-root.xml
    default-schema: budgetpalproject
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        default_schema: budgetpalproject
